@model SearchByStringAllViewModel;
@{
    ViewBag.Title = "All motorcycles filtered by " + ViewBag.TitleSuffix;
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-controller="Search" asp-action="SearchByString">
    <p>
        Brand/Model: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<div class="text-center row">
    @foreach (var e in Model.Items)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <img src="@e.PictureUrl" />
                <h4 class="card-title mt-1"><a asp-action="All" asp-route-sortOrder="@ViewData["NameSortParm"]">@e.Brand</a> </h4>
                <h5 class="card-title mt-1"><a asp-action="All" asp-route-sortOrder="@ViewData["ModelSortParam"]">@e.Model</a></h5>
                <h5 class="card-title mt-1">@e.PricePerDay EUR/day</h5>
            </div>

            <a asp-controller="Motorcycle" asp-action="Details" asp-route-id="@e.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Details</a>
            <a asp-controller="Motorcycle" asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
            <a asp-controller="Motorcycle" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
