@model AllMotorcyclesPaginatedViewModel;
@{
    ViewBag.Title = "All available motorcycles";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-controller="Search" asp-action="SearchByString">
    <p>
        Brand: <input type="text" name="SearchString" />
        <input type="submit" value="Brand" />
    </p>
</form>

<div class="text-center row">
    @foreach (var e in Model.Items)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <img src="@e.PictureUrl" />
                <h4 class="card-title mt-1"><a asp-action="All" asp-route-sortOrder="@ViewData["NameSortParm"]">@e.Brand</a> </h4>
                <h5 class="card-title mt-1"><a asp-action="All" asp-route-sortOrder="@ViewData["ModelSortParam"]">@e.Model</a></h5>
                <h5 class="card-title mt-1">@e.PricePerDay EUR/day</h5>
            </div>

            <a asp-controller="Motorcycle" asp-action="Details" asp-route-id="@e.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Details</a>
            
            @if (User.IsInAdminRole())
            {
                <a asp-controller="Motorcycle" asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Delete</a>
                <a asp-controller="Motorcycle" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            }
        </div>
    }
</div>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
